$white: #ffffff;
$black: #000000;
$green: #27AE60;
$violet: #6E41E2;
$violet-hover: #5835B0;
$violet-active: #472C8A;
$violet-light: rgba(169, 152, 233, 1);
$gray: #6B6B6B;
$icon-gray: #C4C4C4;
$red: #DB524E;
$border-gray: #D4D4D4;
$light-gray: #F1F1F1;
$background-light: #FAFAFA;
$error-red: #F9E3E3;

$desktop-m-width: 1365px;
$tablet-l-width: 1023px;
$tablet-width: 768px;
$mobile-only: 767px;